# change light/dark theme
15 18 * * * DISPLAY=:0 $HOME/.config/dynconf/aesthetics
15 07 * * * DISPLAY=:0 $HOME/.config/dynconf/aesthetics
# low battery notification
*/10 * * * * DISPLAY=:0 /usr/local/scripts/lowbat
